.Rheumatology{
	color: #ff0052c7;
    font-family: times;
    font-weight: 800;
    line-height: 40px;
    background-color: #4ab53766;
    padding: 10px;
}
.title{color: #ff0052c7;
    font-family: times;
    font-weight: 500;
    line-height: 50px;
    background-color: #8080804f;
    padding: 10px;}

    .container .about{font-family: times;}

    