<script>
// When the user clicks on div, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>
<div class="container-fluid">
		<div class="row">
		
		<div class="col-md-8">    	
		<div class="popup" onclick="myFunction()" align="center" style="margin-left:70px;">
  <span class="popuptext" id="myPopup"><img src="images/video1.jpg" ></span>
</div></div>
<div class="col-md-2"></div>
		</div>
		</div>