form{
	padding: 50px;
	background-color: skyblue;
	border-radius: 20px;
}
form h3{
	padding: 18px;
	font-weight: bold;
	font-family: Times;
	    color: aliceblue
}
.login{
	padding: 20px;
	border-radius: 20px;
}
input[type='text']{
	border-radius: 20px;                       
}
input[type='password']{
	border-radius: 20px;                       
}
.click{
	color: white;
	font-weight: bold;}

table tr td{
	text-align: center;
}